/*Variables*/
:root {
    --border-radius: 25px;
    --box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.1);
    --text-shadow: 0px 4px 10px #000000;
    --font-family: "Roboto Thin", sans-serif;
    --background-color-hover: rgba(255, 213, 213, 0.54);
    --background-standard: #f8f9fa;
    --background-color-diff: rgba(142, 62, 97, 0.36);
    --color1: #ffffff;
    --color2: #eae9e9;
    --color3: #c8c8c8;
    --color1-transparency: rgba(255, 255, 255, 0.5);
    --color2-transparency: rgba(234, 233, 233, 0.5);
    --color3-transparency: rgba(200, 200, 200, 0.5);
}

* {
    margin: 0;
    padding: 0;
    img {
        width: 50%;
        height: auto;
    }
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 800;
    color: #003a7e;
    text-shadow: var(--text-shadow);
    height: 25vh;
    animation: titleAnimation 3s infinite;
}

@keyframes titleAnimation {
    0% { color: #003a7e; }
    50% { color: #c720ff; }
    100% { color: #003a7e; }
    50% { color: #c720ff; }
    0% { color: #003a7e; }
}

#container-art-list {
    #universal-desc {
        display: grid;
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 10px;
        margin: 40px;
        padding: 20px;
        li {
            list-style: none;
        }
        h4 {
            font-size: 30px;
            font-weight: 800;
            color: #000000;
            text-align: center;
            margin: 20px;
        }
        .main-positions-universities {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 20px;
            border-style: solid rgba(0, 0, 0, 0.23);
            border-radius: var(--border-radius);
            padding: 20px;
            box-shadow: var(--box-shadow);
            &:hover {
                transform: scale(1);
                transition: ease-in-out 2s;
                background: rgb(175,0,131);
                background: -moz-linear-gradient(221deg, rgba(175,0,131,0.8785889355742297) 4%, rgba(255,75,219,0.80015756302521) 41%, rgba(242,171,240,0.819765406162465) 80%);
                background: -webkit-linear-gradient(221deg, rgba(175,0,131,0.8785889355742297) 4%, rgba(255,75,219,0.80015756302521) 41%, rgba(242,171,240,0.819765406162465) 80%);
                background: linear-gradient(221deg, rgba(175,0,131,0.8785889355742297) 4%, rgba(255,75,219,0.80015756302521) 41%, rgba(242,171,240,0.819765406162465) 80%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#af0083",endColorstr="#f2abf0",GradientType=1);
                border-radius: var(--border-radius);
                box-shadow: var(--box-shadow);
            }
        }
            p {
                font-size: 20px;
                font-weight: 200;
                color: #000000;
            }
        }
    }

/*--------------General Navbar-----------------*/

.navbar-container-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 40px;
    background-color: rgba(0, 0, 0, 0.23);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    ul {
        display: flex;
        list-style: none;
        li {
            margin: 20px;
            a {
                text-decoration: none;
                color: #000;
                font-weight: 700;
                &:hover {
                    color: #2088ff;
                }
            }
        }
    }
    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 900;
        color: #000000;
        margin-left: 30px;
    }
}

/*--------------General Navbar-----------------*/

#book-main-container {
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

#book-container-id {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    h3 {
        font-size: 50px;
        font-weight: bolder;
        color: rgba(12, 0, 27, 0.62);
        margin-left: 200px;
        margin-right: 200px;
        text-shadow: var(--text-shadow);
    }
    ul {
        list-style: none;
        li {
            margin: 100px;
            a {
                text-decoration: none;
                color: #000;
                font-weight: 600;
                font-size: 30px;
                &:hover {
                    color: #ff2020;
                }

            }
        }
        &::after {
            content: "";
            display: block;
            clear: both;
        }
        &::before {
            content: "";
            display: block;
            clear: both;
        }
    }
    #div-specific-book {
        div {
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 20px;
            ul {
                list-style: none;
                li {
                    margin: 20px;
                    a {
                        text-decoration: none;
                        color: #000;
                        font-weight: 800;
                        &:hover {
                            color: #ff2020;
                        }
                    }
                }
            }
        }
    }
    .content-book {
        font-size: 20px;
        font-weight: 200;
        font-style: italic;
        color: #000000;
    }
    #price-tag {
        font-style: normal;
        font-size: 30px;
        font-weight: 800;
        color: #ff2020;
        padding: 15px;
        border-style: groove;
        border-radius: var(--border-radius);
        &:hover {
            color: #000000;
            background-color: rgba(142, 62, 97, 0.36);
        }
    }
}

/*--------------General Footer-----------------*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ddd1f7;
    ul {
        display: flex;
        list-style: none;
        li {
            margin: 20px;
            a {
                text-decoration: none;
                color: #000;
                font-weight: 700;
                &:hover {
                    color: #2088ff;
                }
            }
        }
    }
    h3 {
        font-size: 25px;
        font-weight: 800;
        color: #000000;
        text-shadow: var(--text-shadow);
        text-align: center;
        margin: 20px;
        aspect-ratio: auto;
    }
    p {
        font-size: 15px;
        font-weight: 400;
        font-family: var(--font-family);
        color: #000000;
        margin: 50px;
    }
    .rrss {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px;
        ul {
            display: flex;
            list-style: none;
            li {
                margin: 20px;
                a {
                    text-decoration: none;
                    color: #003a7e;
                    font-weight: 900;
                    font-size: 30px;
                    &:hover {
                        color: #2088ff;
                    }
                }
            }
        }
    }
    #icon-rrss {
        font-size: 40px;
        color: #003a7e;
        &:hover {
            color: #c720ff;
        }
    }
}

/*--------------General Footer-----------------*/

#books-desc-main {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 200px;
    h3 {
        font-size: 50px;
        margin-left: 70px;
        font-weight: bolder;
        color: #ff2020;
        text-shadow: var(--text-shadow);
    }
    p {
        display: inline-block;
        font-size: 30px;
        font-weight: 800;
        color: #000000;
        text-align: justify;
        margin: 60px;
        }
    a {
        text-decoration: none;
        color: #000000;
        font-weight: 800;
        width: 10%;
        &:hover {
            color: #ff2020;
        }
    }
    #effect-shake {
        margin: 80px;
        font-family: var(--font-family);
        font-size: 50px;
        font-weight: 800;
        color: #c720ff;
        animation: fa-shake 2s infinite;
        }
    #p-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-style: groove;
        width: 75%;
        background-color: rgba(142, 62, 97, 0.36);
        border-radius: var(--border-radius);
        padding: 30px;
        box-shadow: var(--box-shadow)
    }
    .p-working-css {
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
        color: #000000;
    }
    #state {
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        color: #c720ff;background: rgb(175,0,131);
        background: -moz-linear-gradient(221deg, rgba(175,0,131,0.8785889355742297) 4%, rgba(255,75,219,0.80015756302521) 41%, rgba(242,171,240,0.819765406162465) 80%);
        background: -webkit-linear-gradient(221deg, rgba(175,0,131,0.8785889355742297) 4%, rgba(255,75,219,0.80015756302521) 41%, rgba(242,171,240,0.819765406162465) 80%);
        background: linear-gradient(221deg, rgba(175,0,131,0.8785889355742297) 4%, rgba(255,75,219,0.80015756302521) 41%, rgba(242,171,240,0.819765406162465) 80%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#af0083",endColorstr="#f2abf0",GradientType=1);
        padding: 40px;
        border-style: double;
        border-radius: var(--border-radius);
        animation: shake 1s infinite;
    }
    #p-container:hover {
        background-color: var(--background-color-hover);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        transition: ease-in-out 2s;
        }
    }

@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(5px);
    }
    70% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    90% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes fa-shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

#home-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    article ul div span#presentation-home {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        font-size: 50px;
            }
        }


#container-div-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 20px;
    padding: 20px;
    li {
        list-style: none;
    }
    .container-list {
        border-style: groove;
        padding: 20px;
        background-color: rgba(255, 213, 213, 0.54);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        &:hover {
            transform: scale(1.2);
            transition: ease-in-out 1s;
            background-color: rgba(255, 213, 213, 0.54);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
        }
    }
}

#img-container-book {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    background-size: contain;
    width: 100%;
    height: auto;
    aspect-ratio: 12/9;
}

li#book-container-list div#book-container div#icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    .icons {
        font-size: 30px;
        margin: 20px;
        color: rgba(0, 58, 126, 0.61);
        &:hover {
            color: rgba(0, 0, 0, 0.13);
        }
    }
}

@keyframes colorChange {
    0% {background-color: rgba(232, 90, 248, 0.47);}
    20% {background-color: rgba(139, 23, 145, 0.44);}
    40% {background-color: rgba(97, 43, 173, 0.55);}
    60% {background-color: rgba(207, 63, 201, 0.69);}
    80% {background-color: rgba(241, 83, 229, 0.57);}
    100% {background-color: rgba(106, 5, 117, 0.59);}
}

.navbar-color-change {
    animation: colorChange 4s infinite;
}

.message {
    p {
        font-size: 30px;
        font-weight: 800;
        color: #000000;
        text-align: center;
        margin: 20px;
    }
}

.marquee {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
    font-size: 40px;
    font-weight: 800;
    color: rgba(255, 32, 32, 0.23);
    &:hover {
        animation-play-state: paused;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/*-----------------FORM--------------------------*/

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--background-color-diff);
    &:hover {
        background-color: var(--background-color-hover);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        transition: ease-in-out 2s;
    }
    input {
        padding: 10px;
        width: 20%;
        font-size: 15px;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        background-color: var(--background-color-diff);
        &:hover {
            background-color: var(--background-color-hover);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            transition: ease-in-out 2s;
        }
    }
    textarea {
        width: 75%;
        padding: 10px;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        background-color: var(--background-color-diff);
        &:hover {
            background-color: var(--background-color-hover);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            transition: ease-in-out 2s;
        }
    }
    button {
        padding: 20px;
        font-size: 20px;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        background-color: var(--background-color-diff);
        &:hover {
            background-color: var(--background-color-hover);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            transition: ease-in-out 2s;
        }
    }
    #form-h2 {
        margin-top: 20px;
        align-self: center;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 800;
        box-shadow: var(--box-shadow);
        background-color: var(--background-color-diff);
        border-radius: var(--border-radius);
        padding: 20px;
    }
}

.btn-filter {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*-------------SHOPPING CART-----------------*/

.shopping-cart {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--background-color-diff);
    #total-value {
        font-size: 40px;
        font-weight: 800;
        color: #ff2020;
        padding: 20px;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        background-color: var(--background-color-diff);
        &:hover {
            background-color: var(--background-color-hover);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            transition: ease-in-out 2s;
        }
    }
}


